:root {
    --primary-color: #007bff;
    --hover-color: #0056b3;
    --light-color: #f8f9fa;
    --transition-speed: 0.3s;
}

body {
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5; /* Adds a subtle background color */
    color: #333; /* Darker text color for better readability */
}

.fixed-top {
    transition: background-color var(--transition-speed) ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adds a subtle shadow to the navbar */
}

.navbar-scrolled {
    background-color: var(--primary-color) !important;
}

.nav-link {
    color: #fff;
    transition: color var(--transition-speed) ease;
}

.nav-link:hover {
    color: var(--light-color);
}

.hidden {
    display: none;
}

.large-number {
    font-size: 50px; /* Adjust the font size as needed */
    font-weight: bold; /* Make it bold for emphasis */
    margin: 0; /* Remove any default margin */
}

.medium-number {
    font-size: 30px; /* Adjust the font size as needed */
    font-weight: bold; /* Make it bold for emphasis */
    margin: 0; /* Remove any default margin */
}

.metric-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(to right, #ffffff, #e9ecef);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform var(--transition-speed) ease-out;
    height: 400px; /* Set a fixed height for all metric boxes */

    /* Use flexbox to arrange items vertically */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align content vertically */
}

.metric-box .metric-header {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    padding: 10px;
}

.metric-box .metric-subheader {
    font-size: 16px;
    line-height: 1.2;
    padding: 10px;
}

.metric-box .metric-chart-container {
    /* Ensure the container takes up space at the bottom */
    flex: 1;
    display: flex;
    justify-content: center; /* Center the canvas horizontally */
    align-items: flex-end; /* Align the canvas to the bottom */
}

.metric-box .metric-chart {
    max-height: 100%; /* Ensure it doesn't exceed the container height */
    width: auto;
}

.metric-box:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
}

.question {
    margin-bottom: 20px;
    font-weight: 600; /* Makes the question text bolder */
}

.options {
    margin-top: 10px;
}

.option {
    margin: 5px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adds a subtle shadow for depth */
}

.option:hover {
    background-color: var(--hover-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Enhances shadow on hover for a more pronounced effect */
}

#results {
    margin-top: 20px;
}

.logo-class {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    object-fit: contain;
}

/* Style for Logo cells */
.logo-cell {
    background-color: #f0f0f0; /* Add a background color */
    text-align: center; /* Center-align the content */
    font-weight: bold; /* Make the text bold */
}

/* Style for Company Name cells */
.company-name-cell {
    background-color: #f0f0f0; /* Add a background color */
    text-align: center; /* Center-align the content */
    font-weight: bold; /* Make the text bold */
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body, .option, .metric-box {
    animation: fadeIn 1s; /* Applies a fade-in effect to the body, options, and metric boxes */
}
